*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#head{
    background-color: #272727;
    width: 100%;

}

.container{
    max-width: 1080px;
    display: flex;
    margin: 0 auto;
}

.menu{
    width: 50%;
    margin-top: 3%;
    margin-left: 20%;
}

.menu nav a{
    color: #ffffff;
    text-decoration: none;
    padding-right: 20px;
}

.fundo{
    background-color:#f6f9ff;
}

.botao_inicial{
    font-size: 1em;
     background: #010a00;
     border: 0;
     margin-bottom: 1em;
     color: #adc1b6;
     padding: 0.2em 0.6em;
     box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
     text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
     position: absolute;
     top: 4%;
     left: 90%;
     margin-right: 0%; 
     transform: translate(-50% =50%);
}

.botao_entrar{
    font-size: 1em;
     background: #010a00;
     border: 0;
     margin-bottom: 1em;
     color: #adc1b6;
     padding: 0.2em 0.6em;
     box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
     text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
     position: absolute;
     top: 4%;
     left: 84%;
     margin-right: 0%; 
     transform: translate(-50% =50%);
}

.botao_entrar:hover{
    background:#adc1b6;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none;
    color: black;
}

.botao_inicial:hover{
    background:#adc1b6;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none;
    color: black;
}

#img{
    height: 130px;
    width: 130px;
    margin-left: -15%;
    margin-bottom: -1%;
    margin-top: -3%;
    position: flex;
}

#imagem1{
    margin-top: -1%;
}

#titulo{
    color:#457d58;
    margin-left: -1%;
    margin-top: 1%;
    font-size: 250%;
}

#div1{
    background-color: white;
    margin-top: -3%;
    width: auto;
    height: auto;
    /* display: inline-block; */
}

#div2{
    background-color: whitesmoke;
    width: 500px;
    height: 10px;
    margin-top: 30%;
    display: inline-block;
}

#div3{
    background-color: white;
    width: auto;
    height: auto;
}

#div4{
    background-color: white;
    width: auto;
    height: auto;
}


#texto1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    color: #272727;
    font-size: 100%;
    text-align: left;
}

#texto2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: whitesmoke;
    color: #272727;
    font-size: 100%;
    text-align: left;
}

section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}

.slider-content{
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content input{
    display: none;
}

.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide-box img{
    width: 100%;
}

.nav-manual{
    position: absolute;
    width: 100%;
    margin-top: 44%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-bnt1{
    border: 1px solid #95d8ac;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.nav-manual .manual-bnt1:not(:last-child){
    margin-right: 10px;
}

.nav-manual .manual-bnt1:hover{
    background-color: #95d8ac;
}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3{
    background-color: #95d8ac;
}

#radio1:checked ~.primeiro{
    margin-left: 0%;
}

#radio2:checked ~.primeiro{
    margin-left: -25%;
}

#radio3:checked ~.primeiro{
    margin-left: -50%;
}

#tit_plano{
    margin-top: 5%;
    text-align: center;
    background-color: #f6f9ff;
}

.planos{
    background: #f6f9ff;
    height: 100vt;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #434343;
    padding: 40px;
    margin-top: -2%;
}

.planos section.card{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: white;
    padding: 60px;
    box-shadow: 20px 20px 50px -30px;
}

.planos section.card button{
    padding: 0.5rem 0.1rem;
    text-transform: uppercase;
    border-radius: 25px;
    border: 0;
    cursor: pointer;
    font-size: 80%;
    color: #ffffff;
    font-weight: 500;
    background: linear-gradient(to right, #457d58, #95d8ac);
}

.planos section.card button:hover{
    background: linear-gradient(to right, #0a9937, #054103);
}

.planos section.card img{
    width: 64px;
    height: 64px;
}